<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Request A New Password</title>
    <link th:href="@{/css/cms.css}" rel="stylesheet"/>
    <link th:href="@{/css/mat.css}" rel="stylesheet"/>
</head>
<body>
<form th:action="@{/submit_reset_password}" method="post">
    <div class="centered">
        <h1 class="mat-header ds-h2">Measure Authoring Tool</h1>
        <div class="centerDiv">
            <div class="borderedDiv">
                <div class="header">
                    <div class="row">
                        <h3 class="form-signin-heading ds-h2">Request A New Password</h3>
                    </div>
                </div>
                <div class="paddedDiv">
                    <label class="ds-c-label">To request a new password, please provide the following information:</label>
                    <p>
                        <label for="userID" class="ds-c-label">User ID</label>
                        <input type="text" id="userID" name="userID" class="ds-c-field"
                               placeholder="Enter User ID" required autofocus/>
                    </p>
                    <!-- TODO make call to the server to get security question and display here -->
                </div>
                <div class="buttonPanel">
                    <button type="submit" class="ds-c-button ds-c-button--primary" title="Submit">Submit</button>
                    <button type="button" class="ds-c-button ds-c-button--danger" title="Cancel" id="cancelButton">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>